<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Edit/css/init/taobao.css') }}" />
    <title>PythonBook</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Edit/css/style/style.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='Edit/js/iconfont.js')}}"></script>
</head>

</style>
<body>
   <div id="left-container">
   		<div id="container-list">
   			<div id="list-title">
   				PythonBook文章管理系统
   			</div>
   			<ul id="list-container">
   				<!-- <li class="list-node" Id=1>spark概述</li> -->
   				<li id="blank"></li>
   			</ul>
   		</div>
   </div>
   <div id="content-container" >
   		<div id="container-title"></div>
   		<div id="container">
   			
   		</div>   		
   	</div>
   	<div id="editer">
   		<div onclick="getContent()" id="bottom-icon">
   			<svg class="icon" aria-hidden="true" >
			  <use xlink:href="#icon-gongju"></use>
			</svg>
   		</div>
   	</div>
   	<div id="Button-select">
   		<div class="select-list" onclick="newCreate()">新建</div>
   		<div class="select-list" onclick="save_content()">保存</div>
   		<div class="select-list" onclick="edit_content()">修改</div>
   		<div class="select-list" onclick="deleteArticle()">删除</div>
   	</div>
   	<!-- 有时候js无法及时更新，这是因为浏览器的缓存问题-->
   	<script type="text/javascript" src="{{ url_for('static',filename='Edit/js/utlis/book-utils.js')}}"></script>
   	<script type="text/javascript">
   		function init(){
   			book.httpRequest({
   				method:"GET",
   				url:"/init_data",
   				success:function(responseText){
   					var data = JSON.parse(responseText)
   					var first = null
   					var index = 1
   					for(let key in data){
   						if(index == 1){
   							first = key
   						}
   						createLi(data[key],key)
   						index += 1
   					}
                  if(first != null){
                     get_article_Id(first)
                  }
   					
   				}
   			});
   		}
   		// 新建立列表
   		function createLi(article_name,Id){
   			//获取空白的对象
			var blank_object = document.getElementById("blank")
   			// 获取ID对象
   			var list_container = document.getElementById("list-container")
   			// 创建一个Li节点
   			var list_child = document.createElement('li')
   			// 设置节点的class属性
   			list_child.className = 'list-node'
   			list_child.innerText = article_name
   			list_child.setAttribute('index',Id);
   			list_child.setAttribute("onclick","get_article(this)")
   			//在指定位置的前面挂在节点
   			list_container.insertBefore(list_child,blank_object)
   		}
         //获取文章内容，并且展示出来
         function get_article_Id(Id){
            var container = document.getElementById("container")
            book.httpRequest({
               method:"GET",
               url:"/get_article?Id="+Id,
               success:function(responseText){
                  var data = JSON.parse(responseText)
                  container.innerHTML = data.content
                  container.setAttribute("index",Id)
                  // 将状态设置为不可修改
                  book.setContentEditable("container",false)
               }
            });
         }
   		//获取文章内容，并且展示出来
   		function get_article(obj){
   			var Id = obj.getAttribute("index")
   			var container = document.getElementById("container")
   			book.httpRequest({
   				method:"GET",
   				url:"/get_article?Id="+Id,
   				success:function(responseText){
   					var data = JSON.parse(responseText)
   					container.innerHTML = data.content
   					container.setAttribute("index",Id)
   					// 将状态设置为不可修改
   					book.setContentEditable("container",false)
   				}
   			});
   		}
   		//选中按钮
   		function select_focus(obj){
   			//var edit_content = document.getElementById("container")
   			
   		}
   		//修改为可以的状态
   		function edit_content(){
   			// 将修改区域改成可以修改的状态
   			book.setContentEditable("container",true)
   		}
   		//保存内容
   		function save_content(){
   			//获取当前的ID
   			var container = document.getElementById("container")
   			var Id = container.getAttribute("index")
   			var content = container.innerHTML
   			book.httpRequest({
   				method:"POST",
   				data:{
   					Id:Id,
   					content:content
   				},
   				url:"/save_content",
   				success:function(responseText){
   					// 将状态设置为不可修改
   					book.setContentEditable("container",false)
   				}
   			});
   		}
   		init()
   		function newCreate(){
   			var article_name
			article_name=prompt("请填写文章的名字");
			if(prompt == "" || prompt == null){
				return false;
			}
			book.httpRequest({
   				method:"GET",
   				url:"/add_article?article_name=" + article_name,
   				success:function(responseText){
   					var data = JSON.parse(responseText)
   					createLi(article_name,data.Id)
   				}
   			});
   		}
   		function deleteArticle(){
   			var container = document.getElementById("container")
   			var Id = container.getAttribute("index")
   			book.httpRequest({
   				method:"GET",
   				url:"/delete_article?Id="+Id,
   				success:function(responseText){
   					container.innerHTML = ""
   					// 将状态设置为不可修改
   					book.setContentEditable("container",false)
   				}
   			});

   		}
   		function deleteEle(obj){
   			
   		}
	</script>
</body>
</html>